{% extends 'base.html' %}

{% block content %}
    <main class="container py-5">
        <section class="card card-body">
            <h2 class="display-3 text-center">Django Crud-Auth App</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipiscing elit, magna suspendisse proin litora ligula phasellus
                vulputate, torquent aenean risus libero eu at. Cum dui ac libero facilisis pellentesque justo dignissim
                nullam elementum, hac imperdiet rhoncus vel fermentum dapibus mauris vehicula congue, blandit neque
                primis suscipit non magna sapien duis. Nibh cras habitasse accumsan libero nec phasellus volutpat justo,
                gravida turpis sagittis curabitur nascetur vehicula etiam facilisi, auctor metus dapibus vitae facilisis
                aliquam sollicitudin.

                Convallis donec sagittis ante ridiculus purus tincidunt nisl netus, interdum litora cursus integer
                dictum vehicula vivamus ornare, scelerisque etiam semper blandit hac congue vitae. Est per aliquet
                mollis malesuada semper odio nisl commodo morbi ultrices tempus quam, ligula rhoncus habitasse erat
                vitae enim pulvinar aliquam nec torquent. Tortor a aptent ultricies at vestibulum non justo odio sociis
                vulputate senectus torquent tempus, mollis sem porttitor habitant curae cursus dis praesent quam diam
                mus.
            </p>
            <div class="text-center">
               <a class="btn btn-secondary" href="/signin/">
                   Sign In
               </a>
                <a class="btn btn-dark" href="/signup/">
                    Sign Up
                </a>
            </div>
        </section>
    </main>
	
{% endblock %}

